---
// src/pages/index.astro
import BaseLayout from '../layouts/Base.astro';

const title = "Welcome to Our Luxury Hotel";
const description = "Experience luxury like never before.";
---

<BaseLayout title={title} description={description}>
  <h2>This is about page</h2>
</BaseLayout>
