---
import "@splidejs/splide/dist/css/splide.min.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Splide Test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/css/splide.min.css">
  </head>
  <body>
    <div id="card-carousel" class="splide" style="width: 80%; margin: auto; padding-top: 2rem;">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide"><img src="https://picsum.photos/800/600?random=1" alt="" /></li>
          <li class="splide__slide"><img src="https://picsum.photos/800/600?random=2" alt="" /></li>
          <li class="splide__slide"><img src="https://picsum.photos/800/600?random=3" alt="" /></li>
        </ul>
      </div>
    </div>

    <script>
        import "@splidejs/splide/css";
        import Splide from "@splidejs/splide";
      
        new Splide(".splide", {
          type: "loop",
          gap: "24rem",
          focus: "center",
        }).mount();
      </script>
  </body>
</html>
